<section class="p-10 md:p-16 font-parki bg-white">
    <h1 class="text-4xl text-black font-bold text-center pb-6">Contact Me</h1>

    <div class="flex flex-col sm:flex-row sm:space-x-6 space-y-6 sm:space-y-0 justify-center">
      <!-- left side -->
      <div class="min-w-40%">
        <form class="flex flex-col space-y-4" action="your-server-endpoint" method="POST">
          <!-- Name -->
          <div class="flex flex-col md:flex-row justify-between md:space-x-4 space-y-2 md:space-y-0">
              <!-- First Name -->
              <div class="flex flex-col w-full">
                <label for="first-name">First Name</label>
                <input id="first-name" name="first_name" class="px-4 py-2 rounded-lg border border-orange-400 focus:outline-none placeholder:text-slate-500" type="text" placeholder="James" required>
              </div>
              <!-- Last Name -->
              <div class="flex flex-col w-full">
                <label for="last-name">Last Name</label>
                <input id="last-name" name="last_name" class="px-4 py-2 rounded-lg border border-orange-400 focus:outline-none placeholder:text-slate-500" type="text" placeholder="Hunter" required>
              </div>
          </div>
      
          <!-- Email -->
          <div class="flex flex-col">
            <label for="email">Email</label>
            <input id="email" name="email" class="px-4 py-2 rounded-lg border border-orange-400 focus:outline-none" type="email" placeholder="james.hunter@mail.com" required>
          </div>
      
          <!-- Phone -->
          <div class="flex flex-col">
            <label for="phone">Phone</label>
            <input id="phone" name="phone" class="px-4 py-2 rounded-lg border border-orange-400 focus:outline-none" type="tel" placeholder="(123) 456-7890">
          </div>
      
          <!-- Message -->
          <div class="flex flex-col">
            <label for="message">Message</label>
            <textarea id="message" name="message" class="px-4 py-2 rounded-lg border border-orange-400 focus:outline-none" cols="30" rows="5" placeholder="Your message..." required></textarea>
          </div>
      
          <!-- Submit Button -->
          <button class="bg-orange-400 py-2 px-6 text-black shadow-lg rounded-lg hover:bg-orange-700 hover:text-white duration-150 w-full mt-4" type="submit">
            Send Message
          </button>
      
        </form>
      </div>
     
      <!-- right side -->
      <div class="min-w-2/3 sm:max-w-[30%]">
        <div class="flex flex-col px-4">
          <h1 class="text-2xl font-semibold">
            I am available
          </h1>
          <p class="text-sm sm:leading-6 py-2 mb-4 text-justify">
            I offer my services to both companies and private individuals. If you have any questions concerning my services, would like to request a free, no-commitment quote or sign up for my courses, feel free to contact me, I’ll be happy to help!
          </p>
          <h1 class="text-2xl font-semibold">
            Have you already tried my services?
          </h1>
          <p class="text-sm sm:leading-6 py-2 mb-4 text-justify">
            Your opinion matters! Please use the contact form to share your comments and suggestions, thank you! 
          </p>
          <h1 class="text-2xl font-semibold">
            Contact data
          </h1>
          <div class="py-2">
            <a class="text-orange-400 text-sm md:text-lg" href="mailto:info@polishlessonsamsterdam.com?subject=feedback" email="">info@polishlessonsamsterdam.com</a>
            <p class="mt-2">(+31) 0682 773 830</p>
          </div>
        </div>
       
      </div>
    </div>
  
    
  </section>
  