<div class="dark:bg-mateDark bg-gray-100 dark:text-gray-100 text-black">

  <h1 class="text-xl">Davmar 123</h1>

  <div class="p-10">
    <input class="[&.submitted]:bg-green-600 bg-orange-300 py-2 px-6 text-black shadow-lg rounded-lg hover:bg-orange-700 hover:text-white duration-150 w-full mt-4" id="test_button" type="submit" value="Send Message"> 
  </div>
  <div id="thanks" class="[&.submitted]:text-green-600">
    <p>Thank you</p>
  </div>
  <div>
    <svg width="30px" height="30px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" class="animate-spin hds-flight-icon--animation-loading">
      <g fill="white" fill-rule="evenodd" clip-rule="evenodd">
      <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z" opacity=".2"/>
      <path d="M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z"/>
      </g>
      </svg>
  </div>
  
  
</div>


<script>
  // JavaScript code in body

  const button = document.getElementById("test_button");
  const text = document.getElementById("thanks");

  button.addEventListener('click',function(){
    button.classList.toggle("submitted");
  })


</script>
