<nav class="flex p-2 md:p-4 bg-black text-slate-400 justify-between font-cata items-center">
  
    <a class="text-xl md:text-xl font-bold hover:opacity-85 duration-150" href="/">polish lessons amsterdam </a>

    <!-- Hamburger Button -->
    <button id="menu-btn" class="block hamburger md:hidden focus:outline-none" type="button">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>

    <!-- Mobile Menu -->
    <div id="menu" class="absolute hidden p-4 rounded-lg bg-black bg-opacity-85 left-2 right-2 top-10 md:top-14 z-100 duration-200">
      <div class="flex flex-col items-center justify-center w-full space-y-4 text-white rounded-sm font-cata">
        <a href="#" class="w-full text-center">Features</a>
        <a href="#" class="w-full text-center">Pricing</a>
        <a href="#" class="w-full text-center">Resources</a>
      </div>
    </div>

</nav>
