<section id="contact">
    <div class="container">
      <h2 class="text-center">Contact me</h2>
      
      <div class="col-md-6">
        <form id="my-form" class="contact" action="https://formspree.io/f/mnnqyrqr" method="post">
            <h3 for="fname">Name</h3>
            <input type="text" id="fname" name="name" placeholder="Your name..">

            <h3 for="lname">Email</h3>
            <input type="text" id="email" required name="_replyto" placeholder="example@email.com">
            
            <h3 for="lname">Phone</h3>
            <input type="text" id="phone" name="phone" placeholder="06123456789">

            <h3 for="message">Message</h3>
            <textarea type="text" t required placeholder="Write something.." style="height:200px"></textarea>
            <p id="my-form-status"></p>
            <input id="my-form-button" type="submit" value="Submit">
        </form>
    </div>
    <div class="col-md-6 contact_text">
        <h3>I am available!</h3>
        <p>I offer my services to both companies and private individuals. If you have any questions concerning my services, would like to request a free, no-commitment quote or sign up for my courses, feel free to contact me, I’ll be happy to help!</p>

        <h3>Have you already tried my services?</h3>
        <p>Your opinion matters! Please use the contact form to share your comments and suggestions, thank you!</p>


        <h3>Contact data</h3>

        <p>(+31) 0682 773 830</p>

    </div>


</div>

</section>