<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<!-- Font stylesheets -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- font Catamaran -->
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap" rel="stylesheet">
<!-- font poppins -->
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

<!-- font Parkinsans -->
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">

<!-- TODO, possible download fonts and add them as options in some configurable place -->

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
