<nav class="bg-red-500 flex p-4">
    <h1 class="text-3xl font-bold">{{ site.Title }}</h1>
    <div class="md:flex flex-row space-x-6 ml-10 hidden">
        
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
        
    <div class="flex flex-row space-x-6 ml-10">
        <button>Posts</button>
        <button>About</button>
    </div>

    <div class="md:flex flex-row space-x-6 ml-10 hidden">
        
        {{ range where .Site.Menus.what "Params.active" 1}}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
          
      </div>


</nav>

<div class="bg-red-500 p-20">dude</div>



<div class="mb-20"></div>


