<!-- hero container with image -->
<div id="hero" style="background-image: url('/images/{{ .Site.Params.mainphoto }}'); background-repeat: no-repeat; background-size: cover; min-height: 120vh; min-height: 700px;">
  
    <div id="hero-content">
      <div class="container mx-auto text-slate-300">

        <!-- nav -->
        <nav class="flex px-2 md:p-4">
 
          <h1 class="text-xl text-yellow-500 font-bold md:text-3xl">
            {{ .Site.Title }}
          </h1>
        </nav>
  
        <!-- geral abaixo nav -->
        <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 p-2 lg:p-20">
  
            <!-- left content -->
            <div class="md:w-[55%] lg:w-[65%] flex flex-col space-y-10 md:space-y-20 justify-center p-6 md:p-0">
              
              {{ range .Site.Params.Services.items  }}
                <div class="">
                  <h1 class="text-xl md:text-3xl text-[antiquewhite] font-parki font-b">{{ .name }}</h1>
                  <p class="text-sm md:leading-8 tracking-wide md:text-lg text-white">{{ .description }}
                    <a class="text-[#ffb403] text-opacity-75 font-bold hover:cursor-pointer hover:text-opacity-100 duration-150" href="{{ .url }}">{{ .urltext }}</a>
                  </p>
                </div>
              {{ end }} 
             
            </div>
  
            <!-- right content -->
            <div class="">
  
              <div class="max-w-sm shadow-xl rounded-lg p-4 md:p-6 flex-col border border-black space-y-2 md:space-y-6 bg-[antiquewhite] text-mateDark opacity-75 mx-auto">
                <!-- top  -->
                <div class="flex flex-col items-center">
                  <div class="overflow-hidden rounded-full w-28 md:w-32 h-28 md:h-32 border-2 border-black">
                    <img 
                      class="w-full h-full object-cover transform transition-transform duration-200 hover:scale-110" 
                      src="images/{{ .Site.Params.Aboutme.photosmall }}" 
                      alt="profile">
                  </div>
                  <h1 class="text-lg">{{ .Site.Params.Aboutme.name }}</h1>
                </div>
                 
                <!-- bottom description-->
                <p class="text-xs md:text-lg">
                  {{ .Site.Params.Aboutme.description }}
                </p>
                
                <!-- buttom contact -->
                <div class="flex w-full justify-center">
                  <a class="bg-[#ffb403] py-2 px-6 text-black font-bold shadow-lg rounded-sm max-w-xs w-full hover:bg-opacity-100 hover:text-white duration-150 text-center" href="{{ .Site.Params.Aboutme.urlbutton }}">
                    {{ .Site.Params.Aboutme.textbutton }}
                  </a>
                </div>
               
              </div>
  
            </div>
            
           
        </div>
      </div>
    </div>
  </div>