<nav class="flex p-2 md:p-4 bg-black text-orange-300 justify-between font-cata items-center">
  
    <a class="text-xl md:text-xl font-bold hover:opacity-85 duration-150 hidden md:block" href="/">polish lessons amsterdam </a>
    <a class="text-3xl md:text-xl font-bold hover:opacity-85 duration-150 md:hidden" href="/">pla </a>
  
  
    <div class="flex space-x-2">
      <button id="dark_button" class="group">
        <svg id="moon" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="dark:hidden group-hover:fill-current" ><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path></svg>
    
        <svg id="sun" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="dark:block hidden group-hover:fill-current"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
      </button>
       <!-- Hamburger Button -->
      <button id="menu-btn" class="block hamburger md:hidden focus:outline-none" type="button">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
    </div>
   
  
   
  
    <!-- Mobile Menu -->
    <div id="menu" class="absolute hidden p-4 bg-black bg-opacity-85 left-0 right-0 top-10 md:top-14 duration-200 z-50">
      <div class="flex flex-col items-center justify-center w-full space-y-4 text-orange-300 rounded-sm font-cata">
        <a href="#" class="w-full text-center">Features</a>
        <a href="#" class="w-full text-center">Pricing</a>
        <a href="#" class="w-full text-center">Resources</a>
      </div>
    </div>
  
  </nav>