<div class="dark:bg-mateDark bg-gray-100 dark:text-gray-100 text-black">

  <h1 class="text-xl">Send button test</h1>

  <div class="p-10">
    <button type="button" class=" [&.submitted]:bg-green-600 bg-orange-300 py-2 px-6 text-black shadow-lg rounded-lg hover:bg-orange-700 hover:text-white duration-150 w-full mt-4 relative" id="test_button">
        
       
            <div class="absolute">
              <!-- spinner -->
            <svg id="spinner" width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" class="animate-spin hds-flight-icon--animation-loading hidden">
              <g fill="white" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z" opacity=".2"/>
              <path d="M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z"/>
              </g>
          </svg>

          <!-- checkmark  -->
          <svg id="checkmark" class="hidden" fill="green" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 455 455" xml:space="preserve">
          <path d="M0,0v455h455V0H0z M194.93,319.897l-87.837-87.837l21.213-21.213l66.625,66.624l131.764-131.763l21.213,21.213
            L194.93,319.897z"/>
          </svg>

          <!-- cross -->
          <svg id="cross" class="hidden" width="20px" height="20px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-206.000000, -1037.000000)" fill="red">
                    <path d="M226.95,1056.54 C227.34,1056.93 227.34,1057.56 226.95,1057.95 C226.559,1058.34 225.926,1058.34 225.536,1057.95 L222,1054.41 L218.464,1057.95 C218.074,1058.34 217.441,1058.34 217.05,1057.95 C216.66,1057.56 216.66,1056.93 217.05,1056.54 L220.586,1053 L217.05,1049.46 C216.66,1049.07 216.66,1048.44 217.05,1048.05 C217.441,1047.66 218.074,1047.66 218.464,1048.05 L222,1051.59 L225.536,1048.05 C225.926,1047.66 226.559,1047.66 226.95,1048.05 C227.34,1048.44 227.34,1049.07 226.95,1049.46 L223.414,1053 L226.95,1056.54 L226.95,1056.54 Z M234,1037 L210,1037 C207.791,1037 206,1038.79 206,1041 L206,1065 C206,1067.21 207.791,1069 210,1069 L234,1069 C236.209,1069 238,1067.21 238,1065 L238,1041 C238,1038.79 236.209,1037 234,1037 L234,1037 Z" id="cross-square" sketch:type="MSShapeGroup">
                </path>
                </g>
            </g>
          </svg>

            </div>
            
            <!-- message -->
            <span id="button_text">Send Message</span>
       
        
      
    </button>  
  </div>
  <div>
    
  </div>
  
  
</div>


<script>
  // JavaScript code in body

  const button = document.getElementById("test_button");
  const button_text = document.getElementById("button_text");
  const spinner = document.getElementById("spinner")
  const checkmark= document.getElementById("checkmark")
  const cross= document.getElementById("cross")

  button.addEventListener('click',send)

  // JavaScript code in body
  function send() {
    button_text.textContent = 'sending';
    button.classList.toggle("submitted");
    spinner.classList.toggle("hidden");
    button.disabled = true;
    
    setTimeout(() => {
        //executes after 2 seconds
        button.disabled = false;
        button.classList.toggle("submitted");
        spinner.classList.toggle("hidden");
        checkmark.classList.toggle("hidden");
        button_text.textContent = 'Thanks';
      }, 2000);

        
       
     }
  

</script>
